.widget {
  background-color: $light-blue;
  margin-bottom: $xl-size;
}
.widget__message {
  background: $color-whiteoff;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

.widget-header {
  background: $blue;
  color: $color-whiteoff;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  word-break: break-all;
}

.widget-header__title {
  margin: 0rem;
}
